<!DOCTYPE html>
<html lang="en">
<body>

<p>Спасибо за регистрацию на сайте.</p>
<p>Пожалуйста подтвердите ваш email перейдя по этой ссылке:</p>
<a href="{{ data.activation_link }}">{{ data.activation_link }}</a>

</body>
</html>
